<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.handsome.shop.service"/>

    <bean class="com.handsome.shop.framework.SpringContextHolder"/>
    <bean class="com.handsome.shop.framework.SpringProperty"/>

    <!--<bean id="transactionManageAspect" class="com.handsome.shop.framework.TransactionManageAspect"/>-->
    <!--<aop:config proxy-target-class="true">-->
        <!--&lt;!&ndash;TODO 对于queryAll，Dao和xxDao均有实现，导致执行了两边切面操作。以后应该只以Service一个方法作为切面。即Service一个方法对应一个事务&ndash;&gt;-->
        <!--&lt;!&ndash;<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.handsome.shop.framework.Dao.*(..))"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.handsome.shop.dao.impl.*.*(..))"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.handsome.shop.service.*.*(..))"/>&ndash;&gt;-->
        <!--<aop:aspect ref="transactionManageAspect">-->
            <!--<aop:pointcut id="addMethodPointcut"-->
                          <!--expression="execution(* com.handsome.shop.service.impl.*.add*(..))"/>-->
            <!--<aop:before method="beginTransaction" pointcut-ref="addMethodPointcut"/>-->
            <!--<aop:after-returning method="commitTransaction" pointcut-ref="addMethodPointcut"/>-->
            <!--<aop:after-throwing method="rollbackTransaction" pointcut-ref="addMethodPointcut"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

    <beans profile="development">
        <context:property-placeholder location="classpath:application.development.properties"/>
        <bean class="com.handsome.shop.framework.SpringProperty">
            <property name="location" value="classpath:application.development.properties"/>
        </bean>
    </beans>
    <beans profile="test">
        <context:property-placeholder location="classpath:application.test.properties"/>
        <bean class="com.handsome.shop.framework.SpringProperty">
            <property name="location" value="classpath:application.test.properties"/>
        </bean>
    </beans>

</beans>